:root {
  --code-font: ui-monospace, Menlo, Monaco;
  --gray-light: #eeeeee;
}

body {
  font-family: sans-serif;
  padding: 1rem;
  margin: 0 0 env(safe-area-inset-bottom);
}

@media (min-width: 720px) {
  body {
    padding: 2rem;
    margin: auto;
  }
}

p,
li,
ul {
  line-height: 1.6;
}

ul,
ol {
  padding-left: 1em;
}

h1 {
  font-size: 2rem;
}

.logo {
  font-weight: bold;
}

table {
  border: 1px outset grey;
  border-spacing: 2px;
}

td,
th {
  border: 1px inset grey;
  padding: 0.4em;
}

code {
  font-family: var(--code-font), sans-serif;
  background-color: var(--gray-light);
  font-size: 11pt;
  padding: 0.1em 0.25em;
  border-radius: 2px;
}

pre {
  font-family: var(--code-font), sans-serif;
  padding: 1em;
  border: none;
  font-size: 11pt;
  line-height: 1.6;
  overflow-x: auto;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--gray-light);
  padding: 0 0 0 20px;
  margin: 0;
}
