:root {
  --code-font: ui-monospace, Menlo, Monaco, sans-serif;
  --white: #ffffff;
  --grey: grey;
  --grey-light: #f3f3f3;
  --yellow-light: #ffffe0;
}

body {
  font-family: sans-serif;
  padding: 1rem;
  margin: 0 0 env(safe-area-inset-bottom);
  background-color: var(--yellow-light);
}

@media (min-width: 720px) {
  body {
    padding: 2rem;
    margin: auto;
  }
}

p,
li,
ul {
  line-height: 1.6;
}

ul,
ol {
  padding-left: 1em;
}

li.footnote-item > p {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

table {
  background-color: var(--white);
  border: 1px outset var(--grey);
  border-spacing: 2px;
}

td,
th {
  border: 1px inset var(--grey);
  padding: 0.2em 0.4em;
}

code {
  font-family: var(--code-font);
  background-color: var(--grey-light);
  font-size: 11pt;
  padding: 0.1em 0.25em;
  border-radius: 2px;
}

pre > code {
  all: unset;
}

pre {
  font-family: var(--code-font);
  padding: 1em;
  font-size: 11pt;
  line-height: 1.6;
  overflow-x: auto;
  border: 1px outset;
}

blockquote {
  border-left: 4px solid var(--grey-light);
  padding: 0 0 0 20px;
  margin: 0;
}

.logo {
  font-weight: bold;
}

.blog-post-content img {
  max-width: 720px;
}
